<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation_bar.ejs') %>
    <% if (meals.length > 0) { %>
        <div class="grid">
            <% for (let meal of meals) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">Name: <%= meal.name %></h1>
                </header>
                <div class="card__image">
                    <img src="<%= meal.imageURL %>" alt="A Book">
                </div>
                <div class="card__content">
                    <h2 class="product__price">Price: <%= meal.price %></h2>
                    <p class="product__description"><%= meal.description %></p>
                </div>
                <div class="card__actions">
                    <form class="product-form" action="/delete-meal" method="POST">
                        <input type="hidden" name="mealId" value="<%= meal.id %>">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <div>
            <h1>No meals found.</h1>
        </div>
        <% } %>
</body>
</html>